asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.12
Django==3.2.7
heroku==0.1.4
idna==3.3
python-dateutil==1.5
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
wincertstore==0.2
